FPTv3.jl
dictminMFPTandEnt.json
mfpnrGauss.dat
mfptGauss.dat
Langevin.jl
entropy.jl
mfpstats1Gauss.dat
star.png
LangevinRUN.jl
mfpstats2Gauss-B.txt
tau_vs_temp.dat
MFPT_reset_to_Gauss.jl
anim_BM_woStochResGauss.gif
mfpecGauss.dat
mfpstats2Gauss.txt
tau_vs_temp_2021-03-21T22:43:35.541.dat
anim_BM_wStochResFixed.gif
dictminMFPTandEnt.json
